# Basic Python Section

## Q1
You have a Python list of numbers called nums_list. Write Python code that produces a new Python list which contains those numbers from nums_list that are divisible by 5 or 7.

In [1]:
num_list=list(range(1,40))
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [2]:
def required():
    result=list()
    for x in num_list:
        if(x%5==0 or x%7==0):
            result.append(x)
    return result
    
required()

[5, 7, 10, 14, 15, 20, 21, 25, 28, 30, 35]

## Q2

Let the following be the definition of a Python function filter_out_long. What does filter_out_long(['sun', 'joy', 'pie'], 4) return?
def filter_out_long(in_list, thr):
    result = [el for el in in_list if len(el)<thr]
    if len(result)!=len(in_list):
        return result
    else:
        return "All elements are shorter than the threshold."

In [3]:
def filter_out_long(in_list, thr):
    result = [el for el in in_list if len(el)<thr]
    if len(result)!=len(in_list):
        return result
    else:
        return "All elements are shorter than the threshold."
filter_out_long(['sun','joy','pie'],4)

'All elements are shorter than the threshold.'

## Q3

Use Python code and write a Python function that takes three numbers as input arguments and returns the product of the smaller two numbers.
As an example, for input numbers 3, 7 and 5, the function should return 15.

In [4]:
def product_of_smallers(a,b,c):
    arr = list([a,b,c])
    minimum=min(arr)
    arr.remove(minimum)
    maximum = max(arr)
    return minimum*maximum

## Q4

Use Python code and write a Python function that takes a list of words (so list of strings) as an input argument. Have the function return a dictionary whose keys are words from the input list and the values are the number of times that word appears in the input list.

As an example, for input list ['sun', 'lady', 'sun', 'hello', 'hello', 'sun'], the function should return a dictionary {'sun': 3, 'lady': 1, 'hello': 2}.

In [5]:
def dictionary_function(list_of_words):
    result = dict()
    for word in list_of_words:
        if(word not in result.keys()):
            result[word]=list_of_words.count(word)
    return result

dictionary_function(['sun', 'lady', 'sun', 'hello', 'hello', 'sun'])

{'sun': 3, 'lady': 1, 'hello': 2}

# Data Wrangling Section
# For the next 5 questions you will be working with a data set that contains information about motor vehicle thefts in the city of Chicago.. The data represents all thefts from 2000 to 2020

## Q1
At which type of location do most motor vehicle thefts occur in this data set? What percentage of all thefts occur at this type of location? The type of location is recorded under the column "Location Description". Write your answer in the form of location type, percentage of thefts.

In [63]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv('chicago_motor_vehicle_theft.csv')
all_thefts = len(df)
result =pd.DataFrame(df.groupby(['Location Description']).count()['Date'])
result.columns=['Count']
result['Percentage']=result/all_thefts*100
result.sort_values(by='Percentage', ascending=False).head(1)

                       Count  Percentage
Location Description
STREET                262757   78.549819

## Q2
Which years in this data set had more than 350 gas station thefts? A gas station theft has "GAS STATION" recorded under column "Location Description" and the year of an incident is recorded in column "Year".

In [78]:
result =pd.DataFrame(df.groupby(['Location Description','Year']).agg('count'))
result = result.where(result['Date']>350).dropna()
result
result.reset_index(inplace=True)
result
result.where(result['Location Description']=='GAS STATION').dropna()

,Location Description,Year,Date,Block,Primary Type,Description,Ward,Community Area,Location
6,GAS STATION,2017.0,382.0,382.0,382.0,382.0,382.0,382.0,382.0
7,GAS STATION,2020.0,431.0,431.0,431.0,431.0,431.0,431.0,431.0

## Q3

How may thefts in this data set occur in the summer? Consider the summer to be months June, July and August. The date of a theft is recorded in column "Date".

In [99]:
len(df.where(df['Date'].str.match(r'0[6-8]')).dropna())

80667

In [134]:
result = df[['Ward','Year','Date']].groupby(['Ward','Year']).count()
result.columns=['Count']
result['Sum']=result.groupby(['Ward']).sum()

result

           Count  Sum
Ward Year
1.0  2001     18  NaN
     2002    514  NaN
     2003    516  NaN
     2004    522  NaN
     2005    460  NaN
     2006    400  NaN
     2007    366  NaN
     2008    361  NaN
     2009    356  NaN
     2010    427  NaN
     2011    473  NaN
     2012    385  NaN
     2013    307  NaN
     2014    185  NaN
     2015    219  NaN
     2016    265  NaN
     2017    249  NaN
     2018    172  NaN
     2019    141  NaN
     2020    152  NaN
2.0  2001     22  NaN
     2002    621  NaN
     2003    779  NaN
     2004    818  NaN
     2005    740  NaN
     2006    711  NaN
     2007    590  NaN
     2008    593  NaN
     2009    416  NaN
     2010    538  NaN
...          ...  ...
49.0 2011    160  NaN
     2012    125  NaN
     2013     80  NaN
     2014    106  NaN
     2015     99  NaN
     2016    101  NaN
     2017    114  NaN
     2018     95  NaN
     2019    124  NaN
     2020    104  NaN
50.0 2001      9  NaN
     2002    229  NaN
     2003    239  NaN
     2004    366  NaN
     2005    273  NaN
     2006    204  NaN
     2007    149  NaN
     2008    170  NaN
     2009    178  NaN
     2010    212  NaN
     2011    187  NaN
     2012    159  NaN
     2013    110  NaN
     2014    106  NaN
     2015     92  NaN
     2016    139  NaN
     2017    168  NaN
     2018    133  NaN
     2019     98  NaN
     2020     97  NaN

[1000 rows x 2 columns]