# Basic Python Section

## Q1
You have a Python list of numbers called nums_list. Write Python code that produces a new Python list which contains those numbers from nums_list that are divisible by 5 or 7.

In [1]:
num_list=list(range(1,40))
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [2]:
def required():
    result=list()
    for x in num_list:
        if(x%5==0 or x%7==0):
            result.append(x)
    return result
    
required()

[5, 7, 10, 14, 15, 20, 21, 25, 28, 30, 35]

## Q2

Let the following be the definition of a Python function filter_out_long. What does filter_out_long(['sun', 'joy', 'pie'], 4) return?
def filter_out_long(in_list, thr):
    result = [el for el in in_list if len(el)<thr]
    if len(result)!=len(in_list):
        return result
    else:
        return "All elements are shorter than the threshold."

In [3]:
def filter_out_long(in_list, thr):
    result = [el for el in in_list if len(el)<thr]
    if len(result)!=len(in_list):
        return result
    else:
        return "All elements are shorter than the threshold."
filter_out_long(['sun','joy','pie'],4)

'All elements are shorter than the threshold.'

## Q3

Use Python code and write a Python function that takes three numbers as input arguments and returns the product of the smaller two numbers.
As an example, for input numbers 3, 7 and 5, the function should return 15.

In [4]:
def product_of_smallers(a,b,c):
    arr = list([a,b,c])
    minimum=min(arr)
    arr.remove(minimum)
    maximum = max(arr)
    return minimum*maximum

## Q4

Use Python code and write a Python function that takes a list of words (so list of strings) as an input argument. Have the function return a dictionary whose keys are words from the input list and the values are the number of times that word appears in the input list.

As an example, for input list ['sun', 'lady', 'sun', 'hello', 'hello', 'sun'], the function should return a dictionary {'sun': 3, 'lady': 1, 'hello': 2}.

In [5]:
def dictionary_function(list_of_words):
    result = dict()
    for word in list_of_words:
        if(word not in result.keys()):
            result[word]=list_of_words.count(word)
    return result

dictionary_function(['sun', 'lady', 'sun', 'hello', 'hello', 'sun'])

{'sun': 3, 'lady': 1, 'hello': 2}

# Data Wrangling Section
# For the next 5 questions you will be working with a data set that contains information about motor vehicle thefts in the city of Chicago.. The data represents all thefts from 2000 to 2020

## Q1
At which type of location do most motor vehicle thefts occur in this data set? What percentage of all thefts occur at this type of location? The type of location is recorded under the column "Location Description". Write your answer in the form of location type, percentage of thefts.

In [2]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv('chicago_motor_vehicle_theft.csv')
all_thefts = len(df)
result =pd.DataFrame(df.groupby(['Location Description']).count()['Date'])
result.columns=['Count']
result['Percentage']=result/all_thefts*100
result.sort_values(by='Percentage', ascending=False).head(1)

                       Count  Percentage
Location Description
STREET                262757   78.549819

## Q2
Which years in this data set had more than 350 gas station thefts? A gas station theft has "GAS STATION" recorded under column "Location Description" and the year of an incident is recorded in column "Year".

In [3]:
result =pd.DataFrame(df.groupby(['Location Description','Year']).agg('count'))
result = result.where(result['Date']>350).dropna()
result
result.reset_index(inplace=True)
result
result.where(result['Location Description']=='GAS STATION').dropna()

,Location Description,Year,Date,Block,Primary Type,Description,Ward,Community Area,Location
6,GAS STATION,2017.0,382.0,382.0,382.0,382.0,382.0,382.0,382.0
7,GAS STATION,2020.0,431.0,431.0,431.0,431.0,431.0,431.0,431.0

## Q3

How may thefts in this data set occur in the summer? Consider the summer to be months June, July and August. The date of a theft is recorded in column "Date".

In [4]:
len(df.where(df['Date'].str.match(r'0[6-8]')).dropna())

80667

In [138]:
result = df[['Ward','Year','Date']].groupby(['Ward','Year']).count()
result.columns=['Count']
most = pd.DataFrame()
most = result
most = most.reset_index()
most = most.where(most['Ward']==48).dropna()
most.sort_values(by='Count', ascending=False,inplace=True)
result=result.groupby(['Ward'])['Count'].agg(['sum'])
result = result.sort_values(by='sum', ascending=True)

     Ward    Year  Count
942  48.0  2003.0  175.0
950  48.0  2011.0  167.0
943  48.0  2004.0  154.0
945  48.0  2006.0  147.0
944  48.0  2005.0  140.0
941  48.0  2002.0  133.0
951  48.0  2012.0  133.0
946  48.0  2007.0  132.0
948  48.0  2009.0  126.0
947  48.0  2008.0  125.0
949  48.0  2010.0  114.0
952  48.0  2013.0   97.0
954  48.0  2015.0   94.0
955  48.0  2016.0   90.0
957  48.0  2018.0   86.0
956  48.0  2017.0   82.0
953  48.0  2014.0   79.0
958  48.0  2019.0   57.0
959  48.0  2020.0   57.0
940  48.0  2001.0    6.0

## Q4
Which 5 City Council districts have the largest average number of thefts per year? The City Council district is recorded under column "Ward", the year of an incident is recorded in column "Year".

In [174]:
result = df[['Ward','Date']].groupby(['Ward']).count()
result.columns=['Count']
result['Average'] = result['Count']/20
result.sort_values(by=['Average'],inplace=True, ascending=False)
result

      Count  Average
Ward
6.0   11790   589.50
28.0  10799   539.95
24.0  10084   504.20
21.0   9960   498.00
27.0   9890   494.50
17.0   9549   477.45
8.0    9500   475.00
2.0    9419   470.95
20.0   9099   454.95
37.0   8081   404.05
15.0   7968   398.40
34.0   7967   398.35
3.0    7921   396.05
16.0   7787   389.35
7.0    7415   370.75
9.0    7400   370.00
29.0   7254   362.70
5.0    7030   351.50
31.0   6900   345.00
1.0    6488   324.40
30.0   6387   319.35
18.0   6133   306.65
14.0   6120   306.00
26.0   6109   305.45
35.0   5947   297.35
32.0   5817   290.85
4.0    5622   281.10
12.0   5509   275.45
25.0   5378   268.90
22.0   4921   246.05
11.0   4917   245.85
42.0   4749   237.45
10.0   4476   223.80
13.0   4458   222.90
23.0   4445   222.25
33.0   4333   216.65
38.0   4296   214.80
36.0   4050   202.50
39.0   3641   182.05
43.0   3436   171.80
45.0   3419   170.95
50.0   3318   165.90
40.0   3219   160.95
44.0   3187   159.35
47.0   3179   158.95
46.0   2794   139.70
49.0   2744   137.20
41.0   2320   116.00
19.0   2226   111.30
48.0   2194   109.70